*
	box-sizing: border-box

html
	height: 100%
	overflow-x: hidden

body
	padding: 0
	margin: 0
	width: 100%
	background-color: $white
	font-family: "Gotham-Book"
	font-size: 16px
	line-height: 1.19rem
	color: $text-color
	
h1
	font-family: "Gotham-Bold"
	font-size: 2.19rem
	line-height: 2.6rem
	color: $text-color
	
h2
	font-family: "Gotham-Book"
	font-size: 1rem
	line-height: 1.19rem
	color: $light-gray
	
h3,	
.box-text
	font-family: "Gotham-Light"
	font-size: 0.9rem
	font-weight: normal
	line-height: 1.1rem
	color: $white
	background-color: $dark-gray
	
h1, h2, h3
	text-transform: uppercase
	font-weight: normal
	
a::-moz-focus-inner
	border: 0
a::focus
	outline: none
a
	outline: 0
	
.gotham-bold
	font-family: "Gotham-Bold"
	font-weight: normal
	
.gotham-book
	font-family: "Gotham-Book"
	font-weight: normal

.Gotham-Light
	font-family: "Gotham-Light"
	font-weight: normal	
	
.l-gray
	color: $light-gray
	
.white
	color: $white